.App {
	font-family: "Montserrat", sans-serif;
}

.navbar {
	background-color: #f5f5f5;
}

.navbar-item img {
	max-height: 5rem;
}

.logo {
	height: 80px;
	width: auto;
}

.Title {
	font-family: "Montserrat Alternates", sans-serif;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";
